<html>
    <body>
        <h1>LISTAGEM DE PRODUTOS</h1>
        <table>
            <tr>
                <td>id</td>
                <td>nome</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Livro de Node.js</td>
            </tr>
        </table>
    </body>
</html>